@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --shadow-text: #979797;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-shadow-text: var(--shadow-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cormorant: "Cormorant-LightItalic";
  --font-Outfit: "Outfit-ExtraLight";
}

@media (prefers-color-scheme: dark) {
  body span {
    color: #E1E1E1;
  }

  .darkshadow {

    background-color: #000000e0;

    background-blend-mode: multiply;
  }
}


@font-face {
  font-family: "Cormorant-LightItalic";
  src: url("/woof/Cormorant-LightItalic.woff2") format("woff2"),
    url("/woof/Cormorant-LightItalic.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Outfit-ExtraLight";
  src: url("/woof/Outfit-ExtraLight.woff2") format("woff2"),
    url("/woof/Outfit-ExtraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scrollbar-width: none;
}

html {
  max-width: 100%;
  overflow-x: hidden;

}

span {
  color: #171717;
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 40s linear infinite;
  }
}

.cursor-lens {
  backdrop-filter: blur(1px);

}


html,
body,
#__next,
.smooth-wrapper,
.smooth-content {
  overflow-x: hidden !important;
  max-width: 100% !important;
}



html,
body,
#__next {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* WebKit (Chrome, Safari, Edge Chromium) */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#__next::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}